h1 {
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  font-size: 13pt;
  font-weight: normal;
  color: rgba(0,0,0,.54);
  margin: 30px 0 0 10px;
  display: block;
  float: left;
}

.dataset-list {
  padding: 0 50px;
  padding-left: 190px;
}

.dataset-list > table {
  width: 100%;
}

.add-btn-container {
  display: block;
  float: right;
  margin-bottom: 10px;
}

.paginator {
  background: #fafafa;
}

.status.in-progress {
  font-style: italic;
  color: darkorange;
}

.status.ready {
  color: #46a35e;
  font-weight: bold;
}

.status.error {
  color: #f44336;
  font-weight: bold;
}

