rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/datasets/{document=**} {
      allow read, delete: if request.auth != null
                          && request.auth.uid == userId;
    }
    match /users/{userId}/datasets/{documentId} {
      allow create: if request.auth != null
                    && request.auth.uid == userId
                    && request.resource.data.keys().hasAll([
                          'id', 'name', 'description', 'status', 'creation_timestamp',
                          'file_name', 'file_size', 'file_type'
                       ])
                    && request.resource.data.status == 1
                    && request.resource.id == documentId;
    }
  }
}

