.login {
  text-align: -webkit-center;
}

mat-card {
  max-width: 600px;
  margin: 100px;
  padding: 100px
}

.login-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-form-field {
  width: 250px
}

section {
  display: table;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
