.page {
  background: #fafafa;
  height: -webkit-fill-available;
}

table {
  border: none;
  height: 100vh;
  width: 100%;
}

table td {
  vertical-align: top;
}

td.menu {
  background: white;
  border-right: 1px solid #0000001f;
  width: 200px;
}
